<a href="https://colab.research.google.com/github/Kim-TaeKyoung/csv/blob/main/count_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_row', None)

In [ ]:
PATH1 = '/content/drive/MyDrive/Colab/SummaryCSV/20211023-SummaryCSV.csv'
PATH2 = '/content/drive/MyDrive/Colab/SummaryCSV/20211017-SummaryCSV.csv'
PATH3 = '/content/drive/MyDrive/Colab/SummaryCSV/20211016-SummaryCSV.csv'
PATH4 = '/content/drive/MyDrive/Colab/SummaryCSV/20211015-SummaryCSV.csv'
PATH5 = '/content/drive/MyDrive/Colab/SummaryCSV/20211014-SummaryCSV.csv' ###
PATH6 = '/content/drive/MyDrive/Colab/SummaryCSV/20211013-SummaryCSV.csv'
PATH7 = '/content/drive/MyDrive/Colab/SummaryCSV/20211012-SummaryCSV.csv'


a = pd.read_csv(PATH1)
b = pd.read_csv(PATH2) 
c = pd.read_csv(PATH3) 
d = pd.read_csv(PATH4) 
e = pd.read_csv(PATH5) 
f = pd.read_csv(PATH6) 
g = pd.read_csv(PATH7)

In [ ]:
data = pd.concat([a,b,c,d,e,f,g])
data = data[['ad_id_list','head_count','T_valid_count','T_front_count','T_valid_second','T_front_second','T_attention1_count',	'T_attention2_count','T_attention1_second',	'T_attention2_second']]
data = data.dropna(axis=0)

In [ ]:
#아이디올영버전 / 아이디올시니어버전 / 타코셔틀 / 바베큐셔틀
result = data[data['ad_id_list'].str.contains('아이디올영버전')]
result = young.groupby(by=['ad_id_list'], as_index=False).sum()
result

                               ad_id_list  ...  T_attention2_second
0                 ['아이디올시니어버전' '아이디올영버전']  ...               176.34
1    ['아이디올시니어버전' '앱닥터' '아이디올영버전' '타코셔틀']  ...                41.67
2           ['아이디올시니어버전' '앱닥터' '아이디올영버전']  ...              2345.89
3             ['아이디올시니어버전' nan '아이디올영버전']  ...                 0.00
4                 ['아이디올영버전' '아이디올시니어버전']  ...                 0.00
5  ['아이디올영버전' '타코셔틀' '바베큐셔틀' '아이디올시니어버전']  ...              1646.82
6             ['아이디올영버전' nan '아이디올시니어버전']  ...                 7.79

[7 rows x 10 columns]

In [ ]:
result.sum(axis=0)

ad_id_list             ['아이디올시니어버전' '아이디올영버전']['아이디올시니어버전' '앱닥터' '아이디...
head_count                                                         34570
T_valid_count                                                      16222
T_front_count                                                      13580
T_valid_second                                                   32968.1
T_front_second                                                   22075.5
T_attention1_count                                                  3650
T_attention2_count                                                   606
T_attention1_second                                              7138.29
T_attention2_second                                              4218.51
dtype: object

In [ ]:
# result_a = pd.concat([a,c])
# result_a = result_a[['end_ad','head_count','T_attention1_count','T_attention2_count']]
# result_a = result_a.groupby(by=['end_ad'], as_index=False).sum()
# result_a.rename(columns={'end_ad':'ad_id_list'}, inplace=True)
# result_a

In [ ]:
# result_b = pd.concat([b,d])
# result_b = result_b[['ad_id_list','head_count','T_attention1_count','T_attention2_count']]
# result_b = result_b.groupby(by=['ad_id_list'], as_index=False).sum()
# result_b

In [ ]:
# # 바베큐셔틀  c
# result_c = pd.concat([e,f,g])
# result_c = result_c[['ad_id_list','head_count','T_attention1_count','T_attention2_count']]
# result_c = result_c[result_c['ad_id_list'].str.contains('바베큐셔틀')]
# result_c = result_c.groupby(by=['ad_id_list'], as_index=False).sum()
# result_c

In [ ]:
# # 타코셔틀 d
# result_d = pd.concat([e,f,g])
# result_d = result_d[['ad_id_list','head_count','T_attention1_count','T_attention2_count']]
# result_d = result_d[result_d['ad_id_list'].str.contains('타코셔틀')]
# result_d = result_d.groupby(by=['ad_id_list'], as_index=False).sum()
# result_d

In [ ]:
# # 아이디올영버전  a,b + e
# result_e = pd.concat([e,f,g])
# result_e = result_e[['ad_id_list','head_count','T_attention1_count','T_attention2_count']]
# result_e = result_e[result_e['ad_id_list'].str.contains('아이디올영버전')]
# result_e = result_e.groupby(by=['ad_id_list'], as_index=False).sum()
# result_e

In [ ]:
# # 아이디올시니어버전 a,b + f
# result_f = pd.concat([e,f,g])
# result_f = result_f[['ad_id_list','head_count','T_attention1_count','T_attention2_count']]
# result_f = result_f[result_f['ad_id_list'].str.contains('아이디올시니어버전')]
# result_f = result_f.groupby(by=['ad_id_list'], as_index=False).sum()
# result_f

In [ ]:
# # 타코셔틀 d
# # 바베큐셔틀  c
# # 아이디올시니어버전 a,b,f
# # 아이디올영버전  a,b,e
# old = pd.concat([result_a,result_b,result_f])
# young = pd.concat([result_a,result_b,result_e])
# bbq = result_c
# taco = result_d
# # result_g = result_e[result_e['ad_id_list'].str.contains('아이디올영버전')].reset_index(drop=True)

In [ ]:

# x = old['head_count'].sum()
# y = old['T_attention1_count'].sum()
# z = old['T_attention2_count'].sum()

# print(x,y,z)